<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> {{ title }} </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hello">Hello</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/data">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/peliculas">Peliculas</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="black">
  <h1> {{ title }} </h1>
</div>
<div class="ash">
  <h2> {{ email }} </h2>
  <h2> {{ webpage }} </h2>
  <form>
    <input type="text" name="name" [(ngModel)]="name">
    <input type="text" name="age" [(ngModel)]="age">
  </form>
  <h2> Name: {{ name }}</h2>
  <h2> Age: {{ age }}</h2>
  <button (click)="toggleHobbies()" class="btn"> Mostrar Hobbies </button>
  <div *ngIf="showhobbies" class="component2">
      <h3>Hobbies:</h3>
      <ul>
        <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
      </ul>
  </div>
  <div *ngIf="showhobbies" class="component2">
      <h3>Users:</h3>
      <form (submit)="adduser(newUser)">
        <input #newUser type="text">
        <button>Agregar Usuario</button>
      </form>
      <ul>
        <li *ngFor="let user of users">
          <app-user [nameUser]="user"></app-user>
          <button (click)="deleteuser(user)">Borrar Usuario</button>
        </li>
      </ul>
      <button (click)="sayhello()">Hazme Click</button>
  </div>
  <a href="{{ webpage }}" target="_blank"> Visita mi sitio Web </a>
  <form (submit)="newHobby(hobby)">
    <input #hobby type="text" placeholder="hobby">
  </form>
</div>

<router-outlet></router-outlet>
