{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'agregar' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="desc" placeholder="Descripcion"><br>
        <input type="file" name="img"><br>
        <input type="number" name="price" placeholder="Precio"><br>
        <label>¿Oferta?:</label> <input type="checkbox" name="offert"><br>
        <input type="submit">
    </form>

    <div>
        {% for message in messages %}
        <h3> {{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>