body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100vh; /* 100% de la altura de la ventana */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    align-items: center;     /* centra horizontalmente */
    text-align: center;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  #dia {
    font-size: 1.5em;
    font-weight: bold;
  }