<div class="black">
    <h1> {{ title }} </h1>  
</div>

<form (submit)="addPeli(namePeli,urlPeli)">
    <input #namePeli type="text" placeholder="Nombre de la Pelicula">
    <input #urlPeli type="url" placeholder="Insertar Trailer de Youtube">
    <button> Agregar Pelicula </button>
</form>

<div *ngFor="let video of videoList" class="video-card">
  <h3>{{ video.name }}</h3>
  <h2> Slug Generado: {{ video.name | slug }} </h2>

  <iframe
    width="560"
    height="315"
    [src]="getEmbedUrl(video.url)"
    name="{{ video.name }}"
    frameborder="0"
    allowfullscreen>
  </iframe>
</div>
