<div class="black">
    <h1> {{ title }} </h1>  
</div>

<form class="row" (submit)="addPeli(namePeli,urlPeli)">
    <div class="col-md-4">
        <input class="form-control" #namePeli type="text" placeholder="Nombre de la Pelicula">
    </div>
    <div class="col-md-4">
        <input class="form-control" #urlPeli type="url" placeholder="Insertar Trailer de Youtube">
    </div>
    <div class="col-md-4">
    <button class="btn btn-success"> Agregar Pelicula </button>
    </div>
</form>

<div *ngFor="let video of videoList" class="video-card">
  <h3>{{ video.name }}</h3>
  <button class="btn btn-danger" (click)="deletePeli(video.name)">Borrar Pelicula</button>  
  <h2> Slug Generado: {{ video.name | slug }} </h2>
  <iframe
    width="560"
    height="315"
    [src]="getEmbedUrl(video.url)"
    name="{{ video.name }}"
    frameborder="0"
    allowfullscreen>
  </iframe>
</div>
